

.module_movies{
    position: absolute;
    left: 29px;
    top:48px;
}

.module_movies .movies {

    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-flow: row wrap;
    width: 350px;
    margin: 10px;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.module_movies .movies .movie{
    margin: 10px;
}

.module_movies .movies .movie .preview img{
    width: 150px;
}
