
<div class="module module_maps" >

    <div class="maps_panel"/>
    
    <div class="info">
        <label>Durée&nbsp;:&nbsp;</label><span class="duration"></span><br />
        <label>Distance&nbsp;:&nbsp;</label><span class="distance"></span>
    </div>

</div>
